<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="affiliate" translate="label" type="text" sortOrder="999" showInDefault="1" showInWebsite="1" showInStore="1">
            <resource>DoIRun_Affiliate::config</resource>
            <class>separator-top</class>
            <label>Affiliates</label>
            <tab>general</tab>
            <group id="shareasale" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Enable</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="merchantid" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Merchant ID</label>
                </field>
            </group>
        </section>
    </system>
</config>
